<h1>Refine wording of a Problem</h1>

<% if @problem.errors.any? %>
  <h2> The following errors prevented the problem from getting created</h2>
  <ul>
  <% @problem.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @problem do |f| %>
  
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to "Back to problems listing", problems_path %>